/* 
Zakladni Synta CSS

selector {
vlastnost-1: hodnota;
vlastnost-2: hodnota;
vlastnost-3: hodnota;
vlastnost-4: hodnota;
vlastnost-5: hodnota;
...
vlastnost-n: hodnota;
}

*/
body {
    background-color: #4141d3;
    font-family: Arial, Helvetica, sans-serif;
}

p {
font-famaly: 'Times New Roman' , Times, serif;
}